<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>action</key>
		<dict>
			<key>name</key>
			<string>pasteAsPlainText:</string>
			<key>type</key>
			<string>builtin</string>
		</dict>
		<key>children</key>
		<array/>
		<key>isLeaf</key>
		<true/>
		<key>nodeTitle</key>
		<string>Paste as Plain Text</string>
	</dict>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/Case/Capitalize.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>Capitalize.js</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/Case/lowercase.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>lowercase.js</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/Case/Title Case.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>Title Case.js</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/Case/UPPERCASE.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>UPPERCASE.js</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Users/robbailes/Library/Application Support/ClipMenu/script/action/CONST_CASE.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>CONST_CASE</string>
			</dict>
		</array>
		<key>isLeaf</key>
		<false/>
		<key>nodeTitle</key>
		<string>Case</string>
	</dict>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/Trim/LTrim.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>LTrim.js</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/Trim/RTrim.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>RTrim.js</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/Trim/Trim.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>Trim.js</string>
			</dict>
		</array>
		<key>isLeaf</key>
		<false/>
		<key>nodeTitle</key>
		<string>Trim</string>
	</dict>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Users/robbailes/Library/Application Support/ClipMenu/script/action/GivenTextToMethodDeclaration.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>GivenTextToMethodDeclaration</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Users/robbailes/Library/Application Support/ClipMenu/script/action/WhenTextToMethodDeclaration.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>WhenTextToMethodDeclaration</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Users/robbailes/Library/Application Support/ClipMenu/script/action/ThenTextToMethodDeclaration.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>ThenTextToMethodDeclaration</string>
			</dict>
		</array>
		<key>isLeaf</key>
		<false/>
		<key>nodeTitle</key>
		<string>Stories</string>
	</dict>
	<dict>
		<key>action</key>
		<dict>
			<key>name</key>
			<string>remove:</string>
			<key>type</key>
			<string>builtin</string>
		</dict>
		<key>children</key>
		<array/>
		<key>isLeaf</key>
		<true/>
		<key>nodeTitle</key>
		<string>Remove</string>
	</dict>
</array>
</plist>
